
.inline-flex-container {
    display: inline-flex;
    border:2px solid #ccc;
    margin-top:10px;
    flex-direction: row;
}
a
{
    display: block;
    padding: 1.5em;
}
.flex-container
{
    flex-direction: column;
    display: flex;
    border:2px solid #ccc;
    text-align: center;
    font-size: 1.1em;
    color:white;
}
.flex-item {
    
    text-align:center;
    font-size: 1.1em;
    color: white;
}
.color1 {background-color: red;}
.color2 {background-color: green;}
.color3 {background-color: blue;}