body{
width: 100%;
background-image: url(https://images.pexels.com/photos/376533/pexels-photo-376533.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
background-size: cover;
position: fixed;
background-repeat: no-repeat;
color:white;
}
.Head
{
width: 100%;
}
.Head p {
    padding-top: 8%;
    text-align: center;
    font-family: NewYorkTimes;
    font-size: 30px;
    
}
#author
{
background-color: rgb(160, 68, 152,0.6);
height: auto;
padding-top: 10px;
padding-bottom: 10px;
margin-left: 340px;
margin-right: 340px;
}
::placeholder
{
text-align: center;
}
#author *
{
    text-align: center;
}
form + p
{
    size: 50px;
}
