body,p
{
margin:0;
}
#head
{
    background-color:gray;
}
#head p
{
    padding:30px 30px 30px 20px;
    font-size: 24px;
    clear:both;
}
.nav
{
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.nav ul li
{
    list-style: none;
    float:left;
    
}
li a
{
   display: block;
   padding: 10px 20px;
   color: black;
   text-decoration-style: none;
   background-color: hotpink;
   
}
#background-sidebar
{
    clear:both;
}