body
{
    margin: 0px;
    height: 100vh;
}
.Head
{
background-color:#f4f4f4;
height: 10%;
border-bottom: 1px solid gainsboro;
}
.Footer
{
background-color:#f4f4f4;
height: 10%;
border-bottom: 1px solid gainsboro; 
}
.Main
{
background-color: #fafafa;
height: 80%;
margin-right: 20%;
margin-left:20%;
}
.Sidebar-Left
{
background-color: #f7f7f7;
float:left;
margin-right: 80%;
}
.Sidebar-Right
{
background-color: #f7f7f7;
float:left;
margin-right: 80%;
}