body
{
    margin: 0px;
}
.head
{
    height: 100px;
    background-color: rgb(240, 235, 240);
    padding: 40px;
    padding-bottom:0px;
    border-bottom:2px solid black ;
}
.head p
{
    margin:0px;
    padding: 0px;
    size: 100px;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
}
.navigation
{
    background-color: rgb(52, 52, 202);
    height: auto;
}
.navigation li
{
    list-style: none;
    float: left;
}
.navigation li a 
{
text-decoration: none;
color:black;
display: block;
padding: 20px;
border-left: 1px solid black;
}
a :hover 
{
background-color: blue;
}
.navigation ul
{
    border-bottom: 1px solid black;;
    padding: 0px;
    margin: 0px;
    
}