* {
    box-sizing: border-box;
}
body
{
    background-color:#f4f4f4
}
ul,body,p,h1,h2,h3
{
    margin:0;
}
.wrapper  h2,.wrapper p
{
    padding:20px 20px 0px 20px;
    margin-bottom:20px;
}
body
{
    position: absolute;
    height: 100%;
    width: 100%;
}
#header
{
    background-color:#f4f4f4
}
#header h1
{
    font-size: 24px;
    font-weight: bold;
    margin:0 30px;
    padding: 30px 30px 30px 15px;
}
#nav
{
    background-color:#eeeeee;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
}
li
{
    list-style: none;
}
#nav li
{
float:left;
}
#nav li a
{
    display:block;
    padding: 15px 10px;
    text-decoration:none;
    color:black;
    border-right: 1px solid black;
}

#nav li:last-child a {
    border-right: none; 
}
#nav a:hover {
    background-color: black;
    color:white;
    font-weight: bold;
}
#nav:after {
    content: " ";
    display: table;
    clear: both;
}
.wrapper
{
    background-color:#f7f7f7;
}
.aside
{
    width: 20%;
}
#sidebar1
{
    float: left;
    border-right: 1px solid black;
    
}
#sidebar2
{
    float:right;
    padding-left:20px;
    border-left:1px solid black;
}
#article
{
    border-left:1px solid gray;
    border-right:1px solid gray;
    background-color:#fafafa;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}
#footer
{
    border-top:1px solid gray;
    background-color:#eeeeee;
    text-align: center;
    padding:30px;
}
.aside h3
{
    padding-left:20px;
}
#nav ul, #header h1, .wrapper, #footer p {
    max-width: 1200px;
    margin: 0 auto; 
}
.wrapper, #nav, #header, #footer{
    min-width: 768px;
}
ul
{
    padding-left:20px;
}