body
{
    margin: 0px;
    height: 100vh;
}
.Head
{
background-color:#f4f4f4;
height: 20%;
border-bottom: 1px solid gainsboro;
}
.Footer
{
background-color:#f4f4f4;
height: 10%;
border-bottom: 1px solid gainsboro; 
}
.Main
{
background-color: #fafafa;
height: 100%;
margin-right: 20%;
margin-left:20%;
border-left: 1px solid gray;
border-right: 1px solid gray;
}
.Sidebar-Left
{
background-color: #f7f7f7;
float:left;
margin-right: 80%;
}
.Sidebar-Right
{
background-color: #f7f7f7;
float:right;
margin-left: 80%;
}
.Background-Sidebar
{
    background-color: #f7f7f7;
    height: 70%;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
p.Title
{
    height: 50%;
    margin: 0px;
    border-bottom: 1px solid gray ;
     
}
.Navigation
{
    height: 40%;
}
.Navigation ul li
{
    float:left;
    border-left:1px solid gray;
    height: 100%;
    
}
li a
{
    display: block;
    padding: 0 40px;
    text-decoration: none;
    
}

h1,h2
{
margin:0;
}
.Footer p
{
    margin:0;
    margin-bottom: 3px;
    text-align: center;
}
.Footer
{
    padding-top:20px;
}
.Head p
{
    padding-top: 50px;
    font-size:300%;
    font-weight: bold;
}