body,ul
{
    margin:0;
}
li
{
    list-style: none;
    float: left;
}
li a
{
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    
}
.nav
{
    margin:0 auto;
    width: max-content;
    background-color: black;
    
}