p{
color: rgb(157, 226, 28);
}
div{
    margin: 10px;
    border: 1px solid #222;
}
#header{
    height: 80px;
    background-color: #ccc;
}
#content{
    height: 180px;
    background-color: #eee;
}
#footer{
    height: 80px;
    background-color: #ccc;
}
#content li
{
color: rgb(204, 25, 64);
text-align: center;
}
div :empty
{
    background-color: crimson;
}