#st
{
    border: 3px solid red;
}
#f
{
    border:5px solid lawngreen;
    padding-left: 50px;
    padding-right: 10px;
}
#fo
{
    padding: 30px;
}
#fo2
{
    background-color: black; 
}

div.inner{
 
    width: 80%;
    height: 80%;
    margin: auto;
    border: 1px solid rgb(250, 0, 62);
    background-color: rgb(58, 240, 22);
}
div.outer{
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 5px solid #ccc;
    background-color: #eee;
}
